<div id="<%= dom_id membership %>">
  <p>
    <strong>Name:</strong>
    <%= membership.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= membership.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= membership.email %>
  </p>

  <p>
    <strong>Voucher:</strong>
    <%= membership.voucher %>
  </p>

</div>
