<div id="<%= dom_id inventory %>">
  <p>
    <strong>Name:</strong>
    <%= inventory.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

  <p>
    <strong>Import day:</strong>
    <%= inventory.import_day %>
  </p>

  <p>
    <strong>Exp day:</strong>
    <%= inventory.exp_day %>
  </p>

  <p>
    <strong>Day left:</strong>
    <%= inventory.day_left %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= inventory.provider %>
  </p>

</div>
