<div id="<%= dom_id order %>">
  <p>
    <strong>Name:</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= order.phone %>
  </p>

  <p>
    <strong>Voucher:</strong>
    <%= membership.voucher %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= order.address %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= order.delivery_date %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Payment option:</strong>
    <%= order.payment_option %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Other requirment:</strong>
    <%= order.order_status %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.order.product %>
  </p>

</div>
